<!DOCTYPE html>
<html>
<head>
    <title>Add Donor</title>
</head>
<body>
    <h1>Add a Blood Donor</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  

        {% if form.contact.errors %}
            <div class="error">
                {% for error in form.contact.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if form.last_donated.errors %}
            <div class="error">
                {% for error in form.last_donated.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/">Home</a>
    <br>
    <br>
    <a href="{% url 'view_donor' %}">View Donors</a>
    
</body>
</html>
