<!DOCTYPE html>
<html>
<head>
    <title>Edit Donor</title>
</head>
<body>
    <h1>Edit Donor Details</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Update Donor</button>
    </form>

    {% if form.errors %}
        <div style="color: red;">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <br>
    <a href="{% url 'donor_list' %}">Back to Donor List</a>
</body>
</html>
