<!DOCTYPE html>
<html>
<head>
    <title>Donor List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Blood Donors</h1>

    <form method="get">
        <label for="blood_group">Search by Blood Group:</label>
        <select name="blood_group" id="blood_group" >
            <option value="">--Select--</option>
            {% for group in blood_groups %}
                <option value="{{ group.blood_group }}" {% if request.GET.blood_group == group.blood_group %}selected{% endif %}>
                    {{ group.blood_group }}
                </option>
            {% endfor %}
        </select>
        <label for="city">Search by City:</label>
        <select name="city" id="city">
            <option value="">--Select--</option>
            {% for city in cities %}
                <option value="{{ city.city }}" {% if request.GET.city == city.city %}selected{% endif %}>
                    {{ city.city }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
        <a href="{% url 'view_donor' %}">
            <button type="button">Reset Filters</button>
        </a>
    </form>

    <br>
    <a href="tel:+9196295114"><button>Contact Blood Bank</button></a>
    <br>
    <br>
    <ul style="display: flex; flex-wrap: wrap;;">
        {% for donor in donors %}
        <div class="card" style="width: 18rem;margin: 10px; padding: 10px;">
            <div class="card-body">
                <h5 class="card-title">{{ donor.name }}</h5>
                <br>
                {{ donor.blood_group }}
                <br>
                {{ donor.city }} 
            </div>
        </div>
        
        {% empty %}
            <li>No donors found.</li>
        {% endfor %}
    </ul>
    <br>
    <a href="/">Home</a>
    <br>
    <br>
    <a href="/add/">Add Donor</a>
    <br>
    
</body>
</html>
